extend layout.pug

block main
    .main
        h1 Om kursen Webbaserade ramverk 2
        p Kursen enligt <a href="https://dbwebb.se/kurser/ramverk2">dbwebb.se</a>:
        blockquote "Kursen Webbaserade ramverk 2, a.k.a. ramverk2, lär ut utveckling, test och driftsättning av applikationer
            | och servrar där flertalet olika ramverk är ingående delar av de applikationer och tjänster som skapar en
            | totallösning.

        blockquote Vi bygger en större totallösning där flera klienter kopplas mot en eller flera servrar som bygger på olika
            | tekniker och ramverk. All samverkar för att skapa en total lösning, ett system, enligt en given specifikation.

        blockquote Vi arbetar med tekniker för virtualisering samt hur test och driftsättning kan ske i molnet i form av mindre
            | tjänster som samverkar en den totala lösningen.

        blockquote Kursen arbetar med utvecklingsmetoder för testdriven utveckling, automatiserad testning, löpande integrering
            | och driftsättning där rollen som devops beaktas.

        blockquote Via litteraturstudier, praktiska övningar och ett större avslutningsprojekt ges möjlighet att skapa sig en
            | egen bild av vad koncepten kan innebära för ett webbutvecklingsprojekt."

        p Mitt repo på GitHub: <a href="https://github.com/vihd14/Ramverk2">Ramverk2</a>
