extend layout.pug

block main
    .main
        :markdown-it(linkify langPrefix='highlight-')
            # Välkommen till min me-sida!
            **Jag heter Viktoria "Viza" Haapaoja och jag läser programmet Webbprogrammering**
            **(Campus) på Blekinge Tekniska Högskola.**

            ![Viktoria H.](/img/me.jpg?me-image)

            Jag kommer ursprungligen från den lilla orten/hålan Strömsholm som ligger ett par mil utanför Västerås. Hjärtat
            tillhör dock Karlskrona, där jag varit bosatt sedan sensommaren 2014.

            Mitt liv fylls av programmering, kåraktivitet och gym om man ska hålla det kort. Jag har varit aktiv i kåren
            sedan min första vecka på BTH och läsåret 15/16 satt jag med i kårhusets styrelse som ledamot. Jag sitter
            med detta verksamhetsår igen som PR- och eventansvarig, perfekt för mitt kreativa sinne!

            Mina kunskaper inom programmering leder tillbaka till hösten 2014 då jag gick programmet Civilingenjör i spel-
            och programvaruteknik. Det innehöll en hel del C-programmering (C och C++) men efter ca 1,5 år på utbildningen
            kände jag att det inte var det jag ville göra, så jag sökte till Webbprogrammering och det passar mig mycket
            bättre! Här har jag lärt mig grunderna i Python3, HTML, PHP, CSS, JavaScript (Vanilla och Node JS) och Bash.

            Under våren har jag även hoppat in i världen bestående av objektorientering i både Python och PHP. Jag har
            dock använt objektorientering och klasser i C++ förr, i mitt gamla program, men det är alltid trevligt att
            lära sig det i mer webbrelaterade program. Sedan är det skönt att fräscha upp minnet lite igen.

            Några saker jag gillar att göra på den lilla fritid jag har är att fotografera och måla i akvarell. Det
            har gått lite segt på den fronten senaste tiden men efter att ha införskaffat ett nytt teleobjektiv till
            kameran hoppas jag på fler fototillfällen under hösten. Jag har även gått med i dbwebbs fotoklubb som Mos skapat
            under våren. Vår första utflykt blev i maj då vi tog båten över till Aspö, nästa utflykt blev nyligen i september.
            Vi satte oss i några bilar och körde ut till Tjurkö över dagen för att fota bland annat en båtkyrkogård. Det
            blev en del blöta fötter på vägen dit men motiven var värda besväret.
