extend layout.pug

block main
    .main
        h1 Redovisningar
        h2 Kmom01
        p Redovisningstext kommer inom kort...

        h2 Kmom02
        p Redovisningstext kommer inom kort...

        h2 Kmom03
        p Redovisningstext kommer inom kort...

        h2 Kmom04
        p Redovisningstext kommer inom kort...

        h2 Kmom05
        p Redovisningstext kommer inom kort...

        h2 Kmom06
        p Redovisningstext kommer inom kort...

        h2 Kmom07/10
        p Redovisningstext kommer inom kort...
